*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
}

body{

background:#06131f;
color:white;

display:flex;
justify-content:center;
align-items:center;

min-height:100vh;

padding:20px;

}

.container{

max-width:450px;
width:100%;

}

.screen{

display:none;

}

.active{

display:block;

}

.loader{

width:80px;
height:80px;

border:8px solid #22394d;
border-top:8px solid #00ffd5;

border-radius:50%;

margin:30px auto;

animation:spin 1s linear infinite;

}

@keyframes spin{

to{

transform:rotate(360deg);

}

}

h1{

text-align:center;

margin-bottom:20px;

color:#00ffd5;

letter-spacing:2px;

}

h2{

text-align:center;

margin-bottom:15px;

}

.card{

background:#102332;

padding:20px;

margin-top:20px;

border-radius:15px;

border:1px solid #00ffd5;

}

.gold{

border:2px solid gold;

box-shadow:0 0 20px rgba(255,215,0,.35);

}

.status{

line-height:2;

text-align:center;

color:#9effc8;

}

.title{

font-size:34px;

margin:20px 0;

color:gold;

text-shadow:0 0 10px gold;

}

.quote{

margin:30px 0;

font-size:20px;

font-style:italic;

text-align:center;

color:#8fdcff;

}

.checkmark{

font-size:90px;

text-align:center;

animation:pop .8s ease;

}

@keyframes pop{

0%{

transform:scale(.2);
opacity:0;

}

100%{

transform:scale(1);
opacity:1;

}

}

p{

line-height:1.8;

text-align:center;

color:#d7e6ef;

}

strong{

color:white;

}
