*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{

background:#06111d;
color:white;

display:flex;
justify-content:center;
align-items:center;

min-height:100vh;
padding:20px;

}

.container{

max-width:420px;
width:100%;

}

.screen{
display:none;
}

.active{
display:block;
}

.mission{

color:#00ffd5;
letter-spacing:3px;
margin-bottom:15px;
font-weight:bold;

}

h1{

margin-bottom:25px;
font-size:30px;

}

.desc{

line-height:1.8;
color:#d2d2d2;

}

button{

margin-top:35px;
padding:15px 30px;

background:#00ffd5;

border:none;

border-radius:8px;

font-weight:bold;

cursor:pointer;

font-size:17px;

}

.loader{

width:70px;
height:70px;

border:8px solid #1d3044;
border-top:8px solid #00ffd5;

border-radius:50%;

margin:auto;

animation:spin 1s linear infinite;

}

@keyframes spin{

to{

transform:rotate(360deg);

}

}

.card{

margin-top:25px;

background:#102030;

padding:20px;

border-radius:12px;

border:1px solid #00ffd5;

}

.binary{

font-size:34px;

letter-spacing:4px;

margin:20px 0;

color:#00ff99;

font-weight:bold;

}

.excel{

width:100%;

margin-top:20px;

border-collapse:collapse;

}

.excel td,
.excel th{

border:1px solid #555;

width:45px;

height:40px;

text-align:center;

}

.excel th{

background:#303d4b;

}

.selected{

background:#2ecc71;
border:3px solid white !important;

}

.hint{

margin-top:20px;

font-size:15px;

line-height:1.6;

color:#cfcfcf;

}